<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="EnableTestingEnvironment" value="true"/>
    <add key="TestingSKU" value="30abc36,30abc57,31abc23,31abc65,35abc77,42abc89,44abc05"/>
    <add key="Host" value="smtp.office365.com"/>
    <add key="Port" value="587"/>
    <add key="SSL" value="true"/>
    <add key="FromEmail" value="example@abc.com"/>
    <add key="CcEmail" value="ccexample@gmail.com"/>
    <add key="BCCEmail" value="bccexample@gmail.com"/>
    <add key ="toEmail" value="toexample@gmail.com"/>
    <add key="Username" value="customercare@theone.com"/>
    <add key="Password" value="examplepassword"/>    
   
    <!--add navision base url for fetching the stock data-->
    <add key="baseurl" value="http://ws.example.com:5645/ABC_WPRD/OData/Company('ABCOFFICE')/TOCWStock"/>    
    
    <add key="apiusername" value="api@example.com"/>
    <add key="apipassword" value="apipass"/>
  </appSettings>
  <connectionStrings>
    <add name="DBConn" connectionString="Data Source=servername;Initial Catalog=databasename;Persist Security Info=True; Integrated Security=false;User ID=user;Password=12345" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
